# =============================================================================
# Composer files
# =============================================================================
composer.phar
composer.lock
vendor/

# =============================================================================
# IDE files
# =============================================================================
.project
.buildpath
.settings/
.idea/

# =============================================================================
# Phpunit cache
# =============================================================================
.phpunit.result.cache

# =============================================================================
# Code coverage report
# =============================================================================
coverage/

# =============================================================================
# Custom env files
# =============================================================================
.settings.mk
php_errors.log
var/

# =============================================================================
# Configuration
# =============================================================================
karma
config/*.yml
docker/docker-compose.yml

#================================================
# Whalephant files
#================================================
docker/images/phpunit/Dockerfile
docker/images/phpunit/php.ini
whalephant
