language: php

php:
    - 8.0
    - 8.1

sudo: required

services:
  - docker

before_script:
    - composer install

script:
    - vendor/bin/phpunit -c phpunit.xml --coverage-clover=coverage.xml
    - make full-test

after_success:
    - bash <(curl -s https://codecov.io/bash)

notifications:
    email: false
